<div class="container">
  <div class="todos">
    <form (submit)="addTodo()">
      <div style="display: flex; justify-content: space-between;">
        <input
          style="border-radius: 5px; padding: 10px; flex: 1; margin-right: 10px; font-size: 16px;"
          type="text"
          name="name"
          placeholder="Enter todo..."
          class="input-todo"
          [(ngModel)]="inputTodo"
        />
        <button type="submit" class="btn btn-info" style="height: 38px; padding: 0 20px; font-size: 16px;">Add Todo</button>
      </div>
    </form>
    <br>
    <div *ngFor="let todo of todos; let i=index;" class="todo {{(todo.completed ? 'done' :'')}}" style="display: flex; justify-content: space-between; align-items: center; padding: 10px 15px; background-color: #FFF; border-bottom: 1px solid #DDD;">
      <div class="todo-number">{{i + 1}}</div>
      <div class="content" (click)="toggleDone(i)" style="flex: 1; cursor: pointer;">{{todo.content}}</div>
      <button class="btn btn-danger" (click)="deleteTodo(i)" style="padding: 5px 15px; font-size: 14px;">Remove</button>
    </div>
  </div>
</div>
