/* Base styles */
.todo {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  padding: 10px;
}

.todo:nth-child(even) {
  background-color: #e9ecef;
}

.todo .content {
  flex: 1;
}

.todo.done .content {
  text-decoration: line-through;
}

.input-todo {
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  flex: 1;
  margin-right: 10px;
}

.btn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-info {
  background-color: #17a2b8;
  color: #fff;
  margin-top: 4px;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.todo-number {
  flex: 0 0 30px;
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .todos {
    flex-direction: column;
  }

  .todo {
    padding: 15px;
    margin-bottom: 10px;
  }

  .btn {
    width: 30%;
    margin-top: 10px;
    font-size: 16px;
  }
}
